/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Menú lateral */
.sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    color: white;
    padding-top: 20px;
    height: 100vh; /* Asegura que el menú lateral cubra toda la altura */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el espacio para que el botón quede al final */
    align-items: center; /* Centra los elementos horizontalmente */
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
    flex-grow: 1; /* Permite que la lista crezca y ocupe espacio extra */
    width: 100%; /* Asegura que la lista ocupe todo el ancho del sidebar */
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.logout {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    width: 80%;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: block;
    text-decoration: none;
}

.logout:hover {
    background-color: darkred;
}

/* Contenido principal */
.content {
    margin-left: 220px;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

.content h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

textarea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    resize: vertical;
    transition: border-color 0.3s ease;
    width: calc(100% - 22px); /* Ajuste para compensar el padding */
}

textarea:focus {
    border-color: #ffcc00;
    outline: none;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-self: flex-start;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkred;
}

#savedReport {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}